body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #FFA07A;
}

nav {
  background-color: #E9967A;
}

main {
  background-color: #E9967A;
  font-size: 14px;
}

footer {
  background-color: #FFA07A;

}

li {
  display: inline-block;
  width: 25%;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #000000;
}

p {
  line-height: 1.5;
}
