body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header {
  background-color: #FFA07A;
}

nav {
  background-color: #FF7F50;
}

nav a {
  text-decoration: none;
  color: #F0FFFF;
}

main {
  background-color: chocolate;
  font-size: 14px;
}

footer {
  background-color: #FF7F50;

}

li {
  display: inline-block;
  width: 25%;
}

a {
  color: aquamarine;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #F0FFFF;
}

p {
  line-height: 1.5;
  color: #F0FFFF;
}
